node_modules
frontend/node_modules

.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Django stuff:
*.log
local_settings.py
.sqlite3
.sqlite3.swp
db.sqlite3
db.sqlite3-journal

# JS bundles
frontend/static/*.bundle.js
*.bundle.js

# CSS bundles
frontend/static/*.css