/*!************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Chat/Chat.scss ***!
  \************************************************************************************************************************/
.chat {
  background-color: aqua;
  display: flex; }
  .chat__dialogs-list {
    max-width: 250px;
    width: 100%;
    background-color: #c95d60; }
  .chat__messages-block {
    width: 100%;
    min-height: 300px;
    height: 100%; }

/*!*********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Chat/Avatar/Avatar.scss ***!
  \*********************************************************************************************************************************/
.avatar {
  display: inline-block;
  position: relative; }
  .avatar:hover {
    cursor: pointer; }
  .avatar.online::before {
    content: "";
    position: absolute;
    top: 30px;
    right: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #17e62c; }

/*!*****************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Chat/DialogItem/DialogItem.scss ***!
  \*****************************************************************************************************************************************/
.dialog-item {
  width: 100%;
  background-color: #c95d60;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #cb7f82;
  cursor: pointer;
  transition: all 0.3s ease; }
  .dialog-item:hover {
    background-color: #dc7b7e; }
  .dialog-item:nth-child(1) {
    border-top: 2px solid #cb7f82; }
  .dialog-item__avatar {
    padding: 15px 10px;
    flex-shrink: 0; }
  .dialog-item__info {
    max-width: 130px;
    width: 100%;
    padding: 0 5px; }
  .dialog-item__fullname {
    font-weight: bold; }
  .dialog-item__last-message {
    font-size: 12px;
    line-height: 12px; }
  .dialog-item__date {
    font-size: 8px;
    margin: 10px auto auto auto;
    padding: 0 5px; }

/*!*******************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Chat/DialogsList/DialogsList.scss ***!
  \*******************************************************************************************************************************************/

/*!*******************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Chat/MessageItem/MessageItem.scss ***!
  \*******************************************************************************************************************************************/
.message-item {
  display: flex;
  align-items: end;
  margin-top: 20px; }
  .message-item__avatar {
    padding: 0 15px; }
  .message-item__text {
    position: relative;
    background-color: aliceblue;
    max-width: 400px;
    padding: 20px;
    border-radius: 20px 20px 20px 0; }
  .message-item.my {
    justify-content: end;
    flex-direction: row-reverse; }
    .message-item.my .message-item__text {
      border-radius: 20px 20px 0 20px; }
      .message-item.my .message-item__text.read::before {
        content: "";
        background-image: url(372cae62a20e4c6d01cb.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 15px;
        height: 15px;
        position: absolute;
        bottom: 0;
        left: -20px; }

/*!***********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Chat/MessagesBlock/MessagesBlock.scss ***!
  \***********************************************************************************************************************************************/

/*!*********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/style.scss ***!
  \*********************************************************************************************************/
@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

.wrapper {
  margin: 0 auto;
  max-width: 1170px; }

