{% extends "frontend/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    {% if form.errors %}

    <b></b>
    <b></b>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        There was an error with your form.
        <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
        ></button>
    </div>

{% endif %}



    <div class="shadow p-4 mb-5 bg-body rounded text-center container">
        <h1>Here you can add your travel</h1>
        <br />

        <a type="button" href="{% url 'add_past_trip' %}" class="btn btn-danger btn-lg">Add your past travel</a>
        <a type="button" href="{% url 'add_next_trip' %}" class="btn btn-danger btn-lg">Add your next trip</a>

    </div>

{% endblock %}
