{% extends "frontend/base.html" %}
{% block content %}
    {% if form.errors %}


        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            There was an error with your form.
            <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
            ></button>
        </div>

    {% endif %}

    <div class="container">
        <h1>Register</h1>

        <form action="{% url 'register' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %} {{ user_form.as_p }} </br> {{ profile_form.as_p }}

            <input type="submit" value="Submit" class="btn btn-danger"/>
        </form>
    </div>

{% endblock %}
