{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1 class="title">Users</h1>
        <form class="search-form" method="get">
            <input class="search-input" type="text" name="q" placeholder="Search">
            <button class="search-btn" type="submit">Search</button>
        </form>
        <ul class="user-list">
            {% for user in users %}
                <li class="user-item">
                    <div class="user-info">
                        {% if user.myprofile.profile_image %}
                            <img src="{{ user.myprofile.profile_image.url }}" alt="Profile Picture"
                                 class="avatar">
                        {% else %}
                            <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
                            <lord-icon
                                    src="https://cdn.lordicon.com/dxjqoygy.json"
                                    trigger="hover"
                                    colors="primary:#121331,secondary:#121331"
                                    style="width:90px;height:90px">
                            </lord-icon>
                        {% endif %}

                        <h2 class="username">
                            <a href="{% url 'profile_detail' user.id %}">
                                {{ user.first_name }} {{ user.last_name }}
                                <span> @{{ user.username }}</span>
                            </a>
                        </h2>

                        {% if user.myprofile != request.user.myprofile %}
                            <div class="follow-btn">
                                {% if user.username in following_usernames %}
                                    <form action="{% url 'unfollow' profile_pk=user.myprofile.pk %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="unfollow-btn">Unfollow</button>
                                    </form>
                                {% else %}
                                    <form action="{% url 'follow' user.myprofile.pk %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="follow-btn">Follow</button>
                                    </form>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}

        </ul>
    </div>

    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        .title {
            text-align: center;
            margin-bottom: 20px;
        }

        .search-form {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        .search-input {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-right: 10px;
            width: 70%;
        }

        .search-btn {
            background-color: #d44a56;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .search-btn:hover {
            background-color: #cf303e;
        }

        .user-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .user-item {
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 20px;
            padding: 10px;
        }

        .user-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .username {
            margin: 0;
        }

        .username span {
            text-transform: lowercase;
            font-size: 12pt;
        }

        .follow-btn {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .follow-btn button {
            padding: 10px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .follow-btn .follow-btn:hover {
            background-color: #d44a56;
            color: #fff;
        }

        .follow-btn .unfollow-btn:hover {
            background-color: #666666;
            color: #fff;
        }

        .avatar {
            width: 80px; /* set the width to a fixed value */
            height: 80px; /* set the height to a fixed value */
            object-fit: cover; /* crop the image to fit the size */
            border-radius: 50%; /* make the image rounded */
        }
    </style>


{% endblock %}
