.dialog-item {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease;

  padding: 12px 15px;

  &:hover {
    background-color: #f5f5f5;
  }

  &:not(:nth-child(1)) {
    border-top: 1px solid #f5f5f5;
  }

  &__avatar {
    flex-shrink: 0;
    margin-right: 15px;
  }

  &__info {
    width: 100%;
    align-items: center;
    margin-bottom: 4px;

    &-wrapper {
      width: 100%;
    }

    display: flex;
    justify-content: space-between;
  }

  &__messages {
    display: flex;
    justify-content: space-between;
  }

  &__fullname {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
  }

  &__last-message {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #707991;
  }

  &__date {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #707991;
  }

  &__unread-messages {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e13f3f;
    font-size: 12px;
    color: #ffffff;
  }
}
